$graph-borders-color: #000;

#visualization-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#visualization {
  // Der Visualization soll die auf Bewegung der Maus zugreifen können. Dieses
  // Attribut wird gebraucht.
  pointer-events: all;
}

#graph {

}

.domain {
  fill: none;
  stroke: $graph-borders-color;
}

.tick > line {
  fill: none;
  stroke: $graph-borders-color;
}

.data-point {
  r: 2px;
}

.data-point:hover {
  r: 7px;
  fill: rgba(0, 0, 0, .7);
}

#overlay {
  visibility: hidden;
}
